body{
    background: rgb(194,106,144);
    background: radial-gradient(circle, rgba(194,106,144,1) 50%, rgba(96,172,199,1) 100%);
}
h2{
    font-size: 40px;
    text-align: center;
}

p{
    font-size: 25px;
    text-align: center;
}

.background_nav{
    background-color: black;
}

#navbar_logo{
    height: 50px;
}

.cuadricula{
    margin-top: 60px;
}
 .parrafo{
     display: flex;
    justify-content: center;
    flex-direction: column;
 }

.cuadricula_imagenes{
    height: 270px;
    width: 100%;
    object-fit: cover;
    padding-top: 15px;
}

@media (max-width: 992px){
    .cuadricula_imagenes{
        object-fit: fill;
    }
}

.boton_verde{
    width: 100%;
    height: 57px;
    border-radius: 28px;
    text-transform: uppercase;
}