
.nav_cont{
    background-color:rgb(50, 179, 11);
}


.hero_cont{
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(./1x/f2.jpg);
}

h1{
    text-align: center;
    font-size: 60px;
    font-family:'Nanum Myeongjo', serif;
}

.hero_img{
    height: 218px;
}


.hero_conjunto{
    margin-top: 40px;
}

.info_cont{
    margin-top: 100px;
    margin-bottom: 50px;
}

.info{
    text-align: justify;

}

.info_img{
    border: rgb(50, 179, 11) solid 3px;
    border-radius: 30px;
    width: 350px;
    height: 350px;
}

@media (max-width: 1024px) and (min-width: 768px){
    .hero_img{
        height: 134px;
    }
    h3{
        font-size: 32px;
        text-align: center;
    }
    p{
        font-size: 24px;
    }
}

@media (max-width: 767px) and (min-width: 360px){
    .hero_img{
        height: 62px;
    }
    h1{
        font-size: 35px;
    }
    .hero_cont{
        background-image: url(./1x/f3.jpg);
    }
    .info_img{
        width: 220px;
        height: 220px;
    }
    h3{
        font-size: 24px;
        text-align: center;
    }
    p{
        font-size: 17px;
    }
}

@media (max-width: 359px){
    .hero_img{
        height: 54px;
    }
    h1{
        font-size: 30px;
    }
    .hero_cont{
        background-image: url(./1x/f4.jpg);
        margin-top: 50px;
        margin-bottom: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .info_img{
        width: 180px;
        height: 180px;
    }
    h3{
        font-size: 20px;
        text-align: center;
    }
    p{
        font-size: 13px;
    }

}
