body{
    background-color: teal;
}

.navbar_background{
    background-color:black;
    font-family: 'Dosis', sans-serif;
}

#navbar_logo{
    height: 50px;
}

.fondoDropdown{
    background-color: black;
}

.icono{
    color: white;
}

.menu{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.fotomenu{
    height: 550px;
}



.imagenes_cartas{
    padding: 10px;
    height: 280px;
    width: 350px;
}

.logos{
    height: 50px;
    width: 50px;
    margin: 20px;
}

.contenedor_footer{
    background-color: black;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blanchedalmond;
}

@media (max-width: 992px){
    .contenedor_footer{
        height: 480px;
        text-align: center;
    }
}

.parrafo{
    display: flex;
   flex-direction: column;
}
.redes-soc{
    display: flex;
    align-items: center;
   justify-content: center;
}
 
.logo_footer{
    display: flex;
    justify-content: center;
}
.imagen_footer{
    height: 200px;
    display: flex;
    align-content: center;
    justify-content: center;
}

@media (max-width: 992px){
    .imagen_footer{
        justify-content: center;
        margin: 15px;
       height: 150px;
}
}

.columna{
    display: flex;
    justify-content: center;
    flex-direction: column;
}