body{
    background-color: teal;
}

.navbar_background{
    background-color:black;
    font-family: 'Dosis', sans-serif;
}

#navbar_logo{
    height: 50px;
}

.fondoDropdown{
    background-color: black;
}

.icono{
    color: white;
}

.menu{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.fotomenu{
    height: 550px;
}

@media (max-width: 576px){
    .fotomenu{
        height: 220px;
    }
}

.carta{
    min-height: 500px;
    margin-bottom: 30px;
}

@media (max-width: 576px){
    .carta{
        min-height: 200px;
    }
}

.imagenes_cartas{
    padding: 10px;
    height: 260px;
}
 
@media (max-width: 768px) and (min-width: 576px){
    .col-12{
        display: flex;
        justify-content: center;
    }
    .carta{
        width: 60%;
    }
    .imagenes_cartas{
        height: 550px;   
    }
    p{
        font-size: x-large;
    }
}

@media (max-width: 576px){
    .imagenes_cartas{
        height: 180px;
    }
}

.logos{
    height: 50px;
    width: 50px;
    margin: 20px;
}

.contenedor_footer{
    background-color: black;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blanchedalmond;
}

@media (max-width: 992px){
    .contenedor_footer{
        height: 480px;
        text-align: center;
    }
}

.parrafo{
    display: flex;
   flex-direction: column;
}
.redes-soc{
    display: flex;
    align-items: center;
   justify-content: center;
}
 
.logo_footer{
    display: flex;
    justify-content: center;
}
.imagen_footer{
    height: 200px;
    display: flex;
    align-content: center;
    justify-content: center;
}

@media (max-width: 992px){
    .imagen_footer{
        justify-content: center;
        margin: 15px;
       height: 150px;
}
}

@media (max-width: 576px){
    .imagen_footer{
        justify-content: center;
        margin: 15px;
       height: 100px;
}
}

.columna{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 1025px){
    .imagenes_cartas{
        height: 200px;
    }
    .carta{
        min-height: 580px;
    }
    p{
        font-size: x-large;
    }
}